<!DOCTYPE html>
<html>
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155298197-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155298197-1');
    </script>
    <title>R&R Decorators | Professional decorators in London</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     <meta name="description" content="We are a team of professional decorators offering our services in and around London. Best prices and unbeatable quality">
     <meta property="og:title" content="R&R Decorators - A team of professional decorators in London">
     <!-- <meta property="og:image" content="facebook-card.jpg"> -->
     <meta property="og:description" content="No job is too big or too small. Contact us for a completely free of charge consultation.">
     <meta property="og:site_name" content="R&R Decorators"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
